<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Шаблон сайта кулинарных рецептов {% endblock %}</title>
  <link href="{% static 'recipe_site_app/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'recipe_site_app/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'recipe_site_app/js/bootstrap.js' %}"></script>
  <script src="{% static 'recipe_site_app/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'recipe_site_app/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        {% if user.is_authenticated %}
          <h2><a href="{% url 'recipe_site_app:index' %}">Приветствуем</a></h2>
          <h2>{{ request.user }}</h2>
        {% else %}
          <h1><a href="{% url 'recipe_site_app:index' %}">Кулинар</a></h1>
        {% endif %}
      </div>
      <!-- end div#logo -->
    </div>
    <div id="menu">
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'recipe_site_app:all_user_recipes' author_id=request.user.pk %}" role="button"
            aria-pressed="true">Мои рецепты</a></li>
        <li><a href="{% url 'recipe_site_app:new_recipe' %}">Добавить рецепт</a></li>
        <li> <a href="{% url 'recipe_site_app:search' %}">Поиск</a></li>
        {% else %}
        <li><a href="{% url 'recipe_site_app:all_recipes' %}">Все рецепты</a></li>
        <li> <a href="{% url 'recipe_site_app:search' %}">Поиск</a></li>
        <li><a href="{% url 'users:registration' %}"> Регистрация </a></li>
        <li><a href="{% url 'users:login' %}"> Войти </a></li>
        {% endif %}
      </ul>
    </div>
    <!-- end div#menu -->
    <!-- end div#header -->

    <div id="page">
      <div id="page-bgtop">
        <br>
        <div id="content">
          <div class="post">
            {% block content %} {% endblock %}
            <div class="entry">
            </div>
            <div class="meta">
              <p class="links"><a href="#" class="comments"></a></p>
            </div>
          </div>
        </div>
        <!-- end div#content -->
        <div id="sidebar">
          {% if user.is_authenticated %}
          <div>
            <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ request.user }}
            </button>
            <li class="nav-item list-unstyled ">
              <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button class="btn btn-primary active me-4 " type="submit"> Выйти</button>
              </form>
              <ul class="dropdown-menu dd-color">
              </ul>
          </div>
          {% else %}

          {% endif %}
          <ul>
            <li>
              <h2 class="categories">Полезные ссылки</h2>
            </li>
            {% if user.is_authenticated %}
            <li><a class="nav-link btn btn-primary my-btn me-3" href="{% url 'recipe_site_app:all_recipes' %}">Все
                рецепты</a></li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link btn btn-primary my-btn me-3" href="{% url 'users:login' %}">Войти</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- end div#sidebar -->
        <div style="clear: both; height: 1px"></div>
      </div>
    </div>
    <!-- end div#page -->
    <div id="footer">
      <p><a href="#"></a>.&nbsp;&nbsp;<a href="#"></a><a href="#">Copyright Pavel Zhukov. 2024</a></p>
    </div>
    <!-- end div#footer -->
  </div>
  <!-- end div#wrapper -->
</body>

</html>