<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Шаблон сайта кулинарных рецептов {% endblock %}</title>
  <link href="{% static 'recipe_site_app/css/styles.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        {% if user.is_authenticated %}
        <p>Приветствуем: <b> {{ request.user }}</b>
        </p>
        {% else %}
        <h1><a href="#">Кулинар</a></h1>
        {% endif %}
      </div>
      <!-- end div#logo -->

    </div>
    <div id="menu">
      <ul>

        <li class="active"><a href="{% url 'recipe_site_app:index' %}">Главная</a></li>
        <li><a href="{% url 'recipe_site_app:index' %}">Все рецепты</a></li>

        {% if user.is_authenticated %}
        <li><a href="#">Мои рецепты</a></li>
        <li><a href="#">Обновить профиль</a></li>
        <li class="nav-item list-unstyled ">
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button class="btn btn-primary active me-4 " type="submit"> Выйти</button>
        </form>

      </li>

        {% else %}
        
        <li><a class="btn btn-primary active me-4 " role="button" aria-pressed="true" href="{% url 'users:login' %}">
          Войти </a></li>
        {% endif %}

      </ul>
    </div>
    <!-- end div#menu -->
    <!-- end div#header -->

    <div id="page">
      <div id="page-bgtop">
        <div id="content">
          <div class="post">
            <h2 class="title"><a href="#">Lorem Ipsum Dolor Volutpat</a></h2>
            <p class="byline">Posted by FreeCssTemplates</p>
            <div class="entry">
              {% block content %} {% endblock %}
              <p>This is <strong>Culinary</strong>, a free, fully standards-compliant CSS template designed by ,
                released for free under the license. The photo used in this template is from . You're free to use this
                template for anything as long as you link back to . Enjoy :)</p>
            </div>
            <div class="meta">
              <p class="links"><a href="#" class="comments">Comments (32)</a></p>
            </div>
          </div>
          <div class="post">


            <div class="post">

            </div>
          </div>
          <div class="post">

          </div>
        </div>
        <!-- end div#content -->
        <div id="sidebar">
          {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-primary my-btn dropdown-toggle me-3" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ request.user }}
            </button>
            <ul class="dropdown-menu dd-color">
              <li><a class="dropdown-item dd-item-color" href="{% url 'users:logout' %}">Выйти</a></li>
            </ul>
          </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link btn btn-primary my-btn me-3" href="{% url 'users:login' %}">Войти</a>
          </li>
          {% endif %}
          <ul>
            <li id="search">
              <h2 class="search">Поиск</h2>
              <form method="get" action="">
                <fieldset>
                  <input type="text" id="search-text" name="s" value="" />
                  <input type="submit" id="search-submit" value="поиск" />
                </fieldset>
              </form>
            </li>
            <li>
              <h2 class="categories">Lorem Ipsum</h2>
              <ul>
                <li><a href="#">Fusce dui neque fringilla</a></li>
                <li><a href="#">Eget tempor eget nonummy</a></li>
                <li><a href="#">Magna lacus bibendum mauris</a></li>
                <li><a href="#">Nec metus sed donec</a></li>
                <li><a href="#">Magna lacus bibendum mauris</a></li>
                <li><a href="#">Velit semper nisi molestie</a></li>
                <li><a href="#">Eget tempor eget nonummy</a></li>
              </ul>
            </li>
            <li>
              <h2>Volutpat Dolore</h2>

            </li>
            <li>
              <h2>Bebindum Mauris </h2>

            </li>
          </ul>
        </div>
        <!-- end div#sidebar -->
        <div style="clear: both; height: 1px"></div>
      </div>
    </div>
    <!-- end div#page -->
    <div id="footer">
      <p><a href="#"></a>.&nbsp;&nbsp;<a href="#"></a><a href="#"></a></p>
    </div>
    <!-- end div#footer -->
  </div>
  <!-- end div#wrapper -->
</body>

</html>