{% extends "base.html" %}
{% block title %}Рецепты по автору{% endblock %}


{% block content %}
<section class=>
    <div class=>
        {% for recipe in recipes %}
        <div container>
            <hr class=>
            <div class=>
                <div class=>
                    <p>Время готовки: {{ recipe.cooking_time }} мин.</p>
                </div>
                <div class=>
                    <p>Просмотров: {{ recipe.views }}</p>
                </div>
                <div class=>
                    <p>Обновлено: {{ recipe.date_of_editing}}</p>
                </div>
                <hr class=>
            </div>
            <div class=>
                <div class=>
                    {% if recipe.picture %}
                    <img src="{{ recipe.image.url }}"
                          height="415px">
                    {% else %}
                    <p>no image</p>
                    {% endif %}

                </div>
                <div >
                    <p>{{ recipe.description }}</p>
                    <a href="{% url 'recipe_site_app:user_recipe' recipe_id=recipe.pk %}"
                        > Подробнее</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}