{% extends "base.html" %}
{% block title %}Все рецепты{% endblock %}


{% block content %}
<section >
    <div >
        {% for recipe in recipes %}
        <div >
            <hr >
            <div >
                <div >
                    <p>Автор: {{ recipe.author }}</p>
                </div>
                <div >
                      <a href="{% url 'recipe_site_app:all_user_recipes' author_id=recipe.author.pk %}"
                       > Все рецепты {{ recipe.author }}</a>
                </div>
                <div >
                    <p>Просмотров: {{ recipe.views }}</p>
                </div>
                <div >
                    <p>Последний просмотр: {{ recipe.date_of_update }}</p>
                </div>
                <hr >
            </div>
            <div >
                <div >
                    {% if recipe.picture %}
                    <img src="{{ recipe_site_app.image.url }}"
                          height="415px">
                    {% else %}
                    <p>no image</p>
                    {% endif %}

                </div>
                <div >
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description }}</p>
                    
                     Подробнее</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}