{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="form section container mt-3 justify-content-center d-flex">
    <div class="col-lg-4 col-sm-12">
        <h3>Авторизация на сайте</h3>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for field in form %}
            <p class="form-label">{{ field.label }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-outline-success">Выйти</button>
            {% else %}
            <button type="submit" class="btn btn-outline-success">Войти</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}